build/
__pycache__/
*.kdev4*
*.mp4
demo/scenarios/*
.idea/
!demo/scenarios/0/
!demo/scenarios/1/
demo/scenarios/1/*.yaml
demo/scenarios/1/schedule*.txt
!demo/scenarios/1_back/
demo/scenarios/1_back/*.yaml
demo/scenarios/1_back/schedule*.txt
